body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("img/gradient.jpeg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
h2 {
    font-weight: 600;
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "img" "text" "icon";

    font-family: "Segoe UI";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    text-align: center;
    margin-right: 3rem;

    transition: 0.5s ease;
}
.bgImg1 {
    background: url("img/flood-warning.png");
    grid-area: img;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.bgImg2 {
    background: url("img/blog-space.png");
    grid-area: img;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.bgImg3 {
    background: url("img/laboratory-shop.png");
    grid-area: img;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .using {
    color: #027bff;
    font-size: 13px;
    font-weight: 600;
}
.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}
.card-icon {
    grid-area: icon;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #3b99ff;
}
.card-icon .icon {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
.icon i:hover {
    cursor: pointer;
}
.card-stats .value {
    font-size: 22px;
    font-weight: 500;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}














